$background_dark: #000000;
$background_white: #ffff;
$color_white: #ffff;
$color_black: #000000;
$card-background: #fac3c3;
$card-color: #840000;
$skillcard_padding:6px 15px;
$skillcard_border: 16px;
$fontSize_s1: 12px;
$fontSize_s2: 14px;
$fontSize_s3: 16px;